Source: python-hildondesktop
Section: python
Priority: optional
Maintainer: PyMaemo Team <pymaemo-developers@garage.maemo.org>
XSBC-Original-Maintainer: Ubuntu Mobile Developers <ubuntu-mobile@lists.ubuntu.com>
Build-Depends: debhelper (>= 5), pkg-config, python-dev, python-gtk2-dev, libhildondesktop1-dev, libtool, automake, autoconf, libdbus-glib-1-dev, dh-python
Standards-Version: 3.8.0

Package: python-hildondesktop
Architecture: any
Provides: python2.5-hildondesktop
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for libhildondesktop
 Python binding for set of widgets provided by libhildondesktop

Package: hildon-desktop-python-loader
Section: libs
Architecture: any
Depends: hildon-desktop, ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}, python-hildondesktop
Description: Hildon Desktop Python Plugin Loader
 Plugin Loader for Hildon Desktop for loading Python plugins

